[Unit]
Description=Task Tracker Service
After=network.target postgresql.service
Requires=task_tracker.socket

[Service]
Type=simple
User=app
Group=app
WorkingDirectory=/home/app
 
ExecStart=/usr/bin/node dist/src/main.js

NonBlocking=true
Restart=on-failure
TimeoutStartSec=1min
ExecStop=/bin/kill -SIGTERM $MAINPID
